.wl {
    border-radius: 100%;
    position: absolute;
}

.dsw {
    top: -22%;
    left: 30%;
}

.bqd {
    width: 120px;
    height: 120px;
    top: 0px;
}

.shwz {
    top: -6%;
    left: 34%;
    width: 180px;
    height: 180px;
    z-index: 5;
}

.topdiv div span {
    margin-top: 5px;
    width: auto;
    text-align: center;
    z-index: 10;
}

/* 列表 */
.lb{
    font-family:"jty";
    font-size:16px;
    font-weight:510;
    padding-left:5px;
    padding-bottom:5px;
    padding-top:5px;
    padding-right:10px;
    margin-left:0px;
    margin-right:10px;
    border-bottom:1px solid #ccc;
    text-align: center;
}

.lb img{
    border-radius:10px;
    margin-bottom:0px;
    margin-right:5px;
    box-shadow:3px 3px 3px rgb(0 0 0 / 50%);
    width:20px;
}

.lb .favor {
   border-radius: 5px;
   border: 1px solid #fff;
   font-size: 12px;
   height: 24px;
   padding: 3px;
}

/* 奖台*/
.topdiv {
   /* background-color: rgba(0, 0, 0, 0.3); */
   /* border-radius: 5px 5px 10px 10px; */
   margin-top: 5px;
   margin-bottom: 5px;
   width: 100%;
   height: 125px;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-top: 15px;
   font-size: 14px;
   
}
.topdiv div {
   position: relative;
   width: 33%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px;
}
.topdiv img {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   z-index: 10;
}

.id,.des {
    z-index: 1000;
    position: relative;
    
}

.lb{
    display: flex;
    align-items: center;
}

.container::before {  
    content: ""; /* 伪元素需要内容属性，即使它是空的 */  
    position: absolute; /* 绝对定位使得伪元素可以覆盖在容器内容之上 */  
    top: 0; /* 遮罩层从容器顶部开始 */  
    left: 0; /* 遮罩层从容器左侧开始 */  
    width: 100%; /* 遮罩层宽度与容器相同 */  
    height: 100%; /* 遮罩层高度与容器相同 */  
    background-color: rgba(0, 0, 0, 0.6); /* 使用半透明的黑色作为遮罩层，你可以调整颜色和透明度 */  
}