.list .item .switch {
    width: 30px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 4px;
  }
  .list .item .numframe {
    width: auto;
    min-width: 50px;
    max-width: 100px;
    padding-top: 2px;
    height: 24px;
    background-color: #515151; 
    flex-shrink: 0;
    color: white;
    font-family: "华文中宋";
    font-size: 14px;
    text-align: center;
    border: 1px;
    border-color: #8a8a8a;
    border-radius: 5px;
    display: block;
    
    margin-left: auto;
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    padding-right: 4px;
  }